*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #808080;
    font-family: 'Roboto', sans-serif;
}

body{
    padding-top: 80px;
}

h2, h3, h4, h5, h6{
    color: black;
}


/* UTILITIES */

/* Layout */
.container{
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.w-50{
    width: 50%;
}

.margin-bottom{
    margin-bottom: 40px;
}

.hr-bottom{
    padding-bottom: 50px;
    border-bottom: 2px solid lightgray;
}

/* Nav menu */
.menu-inline li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

.menu-inline li:last-child{
    margin-right: 0;
}


/* Buttons */
.btn{
    display: inline-block;
    min-width: 100px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.btn.btn-green{
    background-color: #7cbb01;
    border: 1px solid transparent;
}

.btn.btn-big{
    padding: 20px;
}


/* Help button */
.help{
    position: fixed;
    bottom: 0;
    right: 8%;
    z-index: 10;
    font-size: 1rem;
    border-radius: 5px 5px 0 0;
    min-width: unset;
    transition: padding 1s;
    transition: color 0.5s;
}

.help:hover{
    padding: 15px;
    font-size: 23px;
    color: #0d325a;
}


/* HEADER */
.main-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    line-height: 80px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #0d325a;
}

.main-header .logo img{
    vertical-align: middle;
}

.main-header .logo{
    width: 15%;
}

.main-header .nav-center{
    width: 45%;
}

.main-header .nav-right{
    width: 40%;
    text-align: right;
}

.main-header a{
    text-decoration: none;
    color: white;
}

.main-header a:not(.btn):hover{
    color: #7cbb01;
}

.main-header a.btn{
    line-height: 1;
}


/* MAIN */

/* Jumbotron */
.jumbotron{
    height: 480px;
    background-color: #0d325a;
    background-image: url(../img/background-header.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 115% 110%;
}

.jumbotron .container{
    position: relative;
    height: 100%;
}

.jumbotron .jumbotron-text{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.jumbotron .jumbotron-text h1{
    font-size: 48px;
    color: white;
    margin-bottom: 30px;
}


/* Interline */
.interline{
    background: lightgray;
    height: 120px;
    text-align: center;
    padding: 30px 0;
}

.interline h2{
    font-size: 22px;
}


/* Columns sect. */
.columns-sect .col{
    width: 35%;
    margin: 30px 15px;
    text-align: center;
}

.columns-sect .col:nth-child(2){
    width: calc(30% - 60px);
}

.columns-sect .col:nth-child(1){
    margin-left: 0;
}

.columns-sect .col:nth-child(3){
    margin-right: 0;
}

.columns-sect .col img{
    width: 100px;
    max-height: 100px;
}

.columns-sect .col:nth-child(2) img{
    width: 150px;
}

.columns-sect .col h2{
    color: #7cbb01;
    margin-bottom: 25px;
}

.columns-sect .col hr{
    width: 75px;
    margin: 0 auto;
}

.columns-sect .col p{
    margin-top: 25px;
}


/* Mountain sect. */
.mountain-sect .mountain-img img{
    width: 80%;
}

.mountain-sect .mountain-text{
    padding-left: 30px;
}

.mountain-sect .mountain-text h2{
    font-size: 24px;
    color: black;
    margin-bottom: 15px;
}

.mountain-sect .mountain-text a{
    display: inline-block;
    color: blue;
    margin-top: 15px;
}


/* First-footer-sect. */
.first-foot-sect{
    background-color: lightgray;
    line-height: 140px;
}

.first-foot-sect .first-foot-select a{
    line-height: 1;
}

.first-foot-sect .first-foot-select{
    text-align: right;
}

.first-foot-sect .first-foot-select select{
    margin: 0 10px;
    width: 150px;
    background-color: lightgray;
    border-style: none;
    border-bottom: 1px solid #808080;
}

.first-foot-select select option:first-child{
    display: none;
}


/* Shake-hands sect. */
.hands-sect .hands-img img{
    width: 80%;
}

.hands-sect .hands-text{
    padding-left: 30px;
}

.hands-sect .hands-text h2{
    font-size: 24px;
    margin-bottom: 40px;
}

.hands-sect .hands-text p{
    margin-bottom: 30px;
}

.hands-sect .hands-text span{
    position: relative;
    top: 10px;
    display: inline-block;
    width: 200px;
    text-align: center;
    color: #b5cdd6;
}


/* Pc-sect */
.pc-sect{
    max-width: 600px;
    text-align: center;
    margin: 30px auto;
    padding: 50px 0;
}

.pc-sect h2 .text-green{
    color: #7cbb01;
}

.pc-sect .small-text{
    margin: 15px 0 15px 0;
    font-size: 12px;
}

.pc-sect a{
    display: inline-block;
    margin-top: 15px;
    color: #b5cdd6;
}


/* Blue-interline */
.blue-interline{
    background-color: #0d325a;
}

.blue-interline .w-50{
    padding: 100px 250px 100px 0;
}

.blue-interline h2{
    color: white;
    margin-bottom: 40px;
}

.blue-interline p{
    margin-bottom: 30px;
}


/* Plan-col sect. */
.plan-sect{
    text-align: center;
}

.plan-sect .plan-col{
    width: calc(100% / 3 - 60px);
    margin: 80px 15px;
    text-align: left;
    padding-right: 100px;
}

.plan-sect .plan-col:nth-child(1){
    margin-left: 60px;
}

.plan-sect .plan-col:nth-child(3){
    margin-right: 60px;
}

.plan-sect .plan-col img{
    width: 50px;
    max-height: 50px;
    min-height: 50px;
    margin-bottom: 30px;
}

.plan-sect .plan-col h3{
    font-size: 20px;
    margin-bottom: 25px;
}

.plan-sect .plan-col p{
    margin-bottom: 25px;
}

.plan-sect .plan-col a{
    display: inline-block;
    width: 100%;
    padding-top: 25px;
    border-top: 5px solid;
}
.plan-sect .plan-col:first-child a{
    border-color: #9cc8ef;
    color: #9cc8ef;
}

.plan-sect .plan-col:nth-child(2) a{
    border-color: #f5a510;
    color: #f5a510;
}

.plan-sect .plan-col:last-child a{
    border-color: #83b311;
    color: #83b311;
}


/* FOOTER sect. */

/* FAQs */
.FAQs-sect{
    background-color: #0d325a;
}

.FAQs-sect .w-50{
    padding: 40px 0;
}

.FAQs-sect h2{
    color: white;
    font-size: 28px;
}

.FAQs-sect h2 .orange-text{
    color: #b2813e;
}


/* Footer credits and links */
.foot-credits{
    background-color: #17416b;
}

.foot-credits .container{
    padding: 50px 0;
}

.foot-credits h3{
    color: white;
    margin-bottom: 20px;
}

.foot-credits ul{
    list-style: none;
}

.foot-credits ul li{
    padding: 5px 0;
}

.foot-credits .left-side{
    text-align: right;
}

.foot-credits .left-side h3{
    margin-bottom: 40px;
}

.foot-credits .left-side .contact-info{
    margin-top: 60px;
}